# MongoDB 연결 정보 (실제 값으로 대체하세요)
MONGO_USER=username
MONGO_PASSWORD=password
MONGO_HOST=host_address
MONGO_DB=database_name
MONGO_CONNECT_TIMEOUT=120000
MONGO_SOCKET_TIMEOUT=120000

# 데이터 로드 설정
DAYS_TO_LOOK_BACK=2200
